@import "defaut/models.scss";
@import "defaut/model/profil-smartadmin.scss";
$nav_item_background: #2d2d2d;
.memberShips{
  margin:0;
  .memberShips-left{
    background-color: #353535;
    padding: 0; 
    max-width: 100%;
    width: 100%;
    position: fixed; top: 0;
    bottom: 0; z-index: 99;    
    margin-left: -100%;    
    @include transition();
    @include media-min('MS'){ max-width: none; width: auto; position:initial; top: auto; bottom:auto; margin-left: 0;}
    .separateur-bottom{ margin-bottom:20px; }
    .separateur-top{ margin-top:20px; }
    > aside{
      position : relative;    
      padding-bottom:50px;  
    }
  }  
  .icon-container-member{
    top:0px;
    @include media-min('MS'){
      display:none;
    }
    position : absolute;
    padding : 14px;
    right:0;
    top:0; 
    background: rgba(0, 0, 0, 0.5);
    margin-right:0;
    @include transition($propriete:margin-right);
    i{color:$red; display:none; font-size: 25px; width:14px; height:30px;}
    i.fa-chevron-right{display:block; color:$link-color}
    cursor:pointer;
  }
  .icon-container-member.open{
    margin-right:-42px;
    top:142px;
  }
  .memberShips-left.open{
    margin-left: 0;
    overflow: auto;
    z-index: 9999; 
    .icon-container-member{
      margin-right:0;  
      top:0;
    }
    i{display:none;}
    i.fa-window-close{ display:block; }
  }
}
/**
 *
 */
#block-titreespacememebre{
  h2{    font-size: 23px;
    color: #bfbfbf;
    padding: 15px 15px;
    font-weight: 600;
    background: #2d2d2d;
    border-bottom: 1px solid #000;}
}
.immobilier-coupon-add{
  .custom-control-label::before, .custom-control-label::after {
    left: -0.5rem;
  }
}

/**
 *
 */
.bloc-menu-dropdowns{
  .menu-title{
    padding: 8px 15px; font-size: 16px; font-weight: 600; background: $nav_item_background; border-bottom: 1px solid #000;
    cursor:pointer;
  }
  .nav{
    li{flex:0 0 100%; width:100%;
      &:hover{background: $nav_item_background;}
    }
    li.menu-item--active-trail{background: $link_color;}
  }
  .nav-link{
    color: #b7b7b7;
    &:hover{color: #FFF;}
  }
  .nav-link.active{color: #FFF;}
}

.memberShips-center{
  margin-top:50px; 
  section{display: flex; flex-direction: column;} 
}

.path-compte h1.title{text-align:center;}


/**
 *
 */
.table-responsive{
  .views-field-nothing{width:160px;}
}

































