@import "defaut/models.scss";
.user-login{
  margin-top:10vh;
}
.user-register{
  margin-top:5vh;
}
main{
  background: #fff; padding: 20px;
}

/**
 *
 */
body.user-logged-in{
  main{
    background:inherit; padding: 0px;
  }
  .user-register{
    main{
      background: #fff;
      padding: 20px;
    }
  }
}