.rx-logos {
  padding: 8px 16px;

  .rx-logo {
    background-color: #565c69;
    width: 37px;
    height: 37px;
    margin-left: 10px;
    padding: 1em;
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .dribbble {
    background-color: #ea4c89;
  }

  .pinterest {
    background-color: #BD081C;
  }


  i {
    color: #FFF;
  }
}
