<section class="site-header-m1">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="d-flex h-100 align-items-center justify-content-center justify-content-sm-start  ">
					{{ branding }}
				</div>
			</div>
			<div class="col-md-9">
				<div class="d-flex h-100 align-items-center justify-content-sm-end">
					{{ main_menu }}
				</div>				
			</div>
		</div>		
	</div>
</section>