<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% if header %}<header>{{ header }}</header>{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{{ ContentLeft }}
			</div>
			<div class="col-sm-6">
				{{ ContentRight }}
			</div>
		</div>
	</div>
</section>