<section class="textactionmodele1">
	<div class="container sectionspace">
		<div class="d-flex align-items-center justify-content-between">
			<div>
				<h5 class="section-titre">{{ title }}</h5>
				<div class="text">{{ text }}</div>
			</div>
			<a href="{{ link }}" class="btn btn-outline-primary">{{ text_link }}</a>
		</div>
	</div>
</section>