$section_bg: #eaeaea;

section.section {
  .sectionspace {
    margin-top: $margin_top*1.5;
    margin-bottom: $margin_bottom;
  }

  header.header {
    margin-bottom: $margin_bottom*0.6;
    position: relative;
    font-size: 1em;
    text-align: center;

    .title {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 0.5rem;
      color: darken($color1, 15%);
    }

    .desc {
      font-size: 0.9em;
      max-width: 500px;
      display: inline-block;

      @include media-min(LM) {
        font-size: 1em;
      }
    }

    &::before {
      position: absolute;
      top: auto;
      bottom: -20px;
      left: calc(50% - 15px);
      right: auto;
      width: 30px;
      height: 1px;
      background-color: #545252;
      content: "";
    }
  }
}

section.cardsmodel2 {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: $section_bg;
  font-size: 1em;

  .header .desc {
    margin-bottom: 0px;
  }

  .card-body {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
  }
}

section.comments-carouselm1 {
  .sectionspace {
    margin-top: 0;
    margin-bottom: 0;
  }
}

section.carouselcards-modele1 {
  background: $section_bg;

  .sectionspace {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $margin_top;
    padding-bottom: $margin_bottom;
  }
}

section.comments-carouselm1 {
  background-color: #ffffff;

  .card-body a {
    color: $color1;
    font-weight: 500;
  }
}
